@import url('https://fonts.googleapis.com/css?family=EB+Garamond');



.container {
    font-family: "EB Garamond", serif;
}

.title {
    margin-top: 2em;
    margin-bottom: 1em;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #888888;
}
